<?xml version="1.0"?>
<web-app id="SData" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>sakai-sdata</display-name>
	<description>Sakai SData</description>
	
	<!-- 
	The Sakai Request Hander 
	-->
	<filter>
		<filter-name>sakai.request</filter-name>
		<filter-class>org.sakaiproject.sdata.tool.StreamRequestFilter</filter-class>
	</filter>
	
	<!--
	Mapped onto the Search Handler
	-->
	<filter-mapping>
		<filter-name>sakai.request</filter-name>
		<servlet-name>JsonJcrServlet</servlet-name>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>sakai.request</filter-name>
		<servlet-name>JsonUserStorageServlet</servlet-name>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<filter-mapping>
		<filter-name>sakai.request</filter-name>
		<servlet-name>XmlRpcJcrServlet</servlet-name>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
	
	
	<filter-mapping>
		<filter-name>sakai.request</filter-name>
		<servlet-name>XmlRpcUserStorageServlet</servlet-name>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
	
	
	<filter-mapping>
		<filter-name>sakai.request</filter-name>
		<servlet-name>JCRDumper</servlet-name>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>sakai.request</filter-name>
		<servlet-name>MCP</servlet-name>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>sakai.request</filter-name>
		<servlet-name>MRA</servlet-name>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<!-- json servlets -->	
	<servlet>
		<servlet-name>JsonJcrServlet</servlet-name>
		<servlet-class>
			org.sakaiproject.sdata.tool.json.JsonJcrServlet
		</servlet-class>
		<load-on-startup>100</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>JsonUserStorageServlet</servlet-name>
		<servlet-class>
			org.sakaiproject.sdata.tool.json.JsonUserStorageServlet
		</servlet-class>
		<load-on-startup>100</load-on-startup>
	</servlet>

	<!-- xml-rpc servlets -->	
	<servlet>
		<servlet-name>XmlRpcJcrServlet</servlet-name>
		<servlet-class>
			org.sakaiproject.sdata.tool.xmlrpc.XmlRpcJcrServlet
		</servlet-class>
		<load-on-startup>100</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>XmlRpcUserStorageServlet</servlet-name>
		<servlet-class>
			org.sakaiproject.sdata.tool.xmlrpc.XmlRpcUserStorageServlet
		</servlet-class>
		<load-on-startup>100</load-on-startup>
	</servlet>
	
	
	<!-- xml dump -->
	<servlet>
		<servlet-name>JCRDumper</servlet-name>
		<servlet-class>
			org.sakaiproject.sdata.tool.JCRDumper
		</servlet-class>
		<load-on-startup>100</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>MCP</servlet-name>
		<servlet-class>
			org.sakaiproject.sdata.services.mcp.MyCoursesAndProjectsServlet
		</servlet-class>
		<load-on-startup>100</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>MRA</servlet-name>
		<servlet-class>
			org.sakaiproject.sdata.services.mra.MyRecentChangesServlet
		</servlet-class>
		<load-on-startup>100</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>JsonJcrServlet</servlet-name>
		<url-pattern>/f/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JsonUserStorageServlet</servlet-name>
		<url-pattern>/p/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>XmlRpcJcrServlet</servlet-name>
		<url-pattern>/xf/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>XmlRpcUserStorageServlet</servlet-name>
		<url-pattern>/xp/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>JCRDumper</servlet-name>
		<url-pattern>/d/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>MCP</servlet-name>
		<url-pattern>/mcp</url-pattern>
	</servlet-mapping>
	
		<servlet-mapping>
		<servlet-name>MRA</servlet-name>
		<url-pattern>/mra</url-pattern>
	</servlet-mapping>
	
	<listener>
		<listener-class>org.sakaiproject.sdata.services.mra.MyRecentChangesDbBean</listener-class>
	</listener>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
</web-app>
